// this is where user background images will live 
// minimum aim is 2 backgrounds 
// stretch is 4 backgrounds 
// auto generate random background during fight mode 

.battleMode {
    background-image: url(../assets/nYuVFMI.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}