// this is where user background images will live 
// minimum aim is 2 backgrounds 
// stretch is 4 backgrounds 
// auto generate random background during fight mode 

.battleMode {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.startTitleScreen {
    background-color: black;
    background-image: url(../assets/fire_start.gif);
    background-repeat: repeat-x;
    background-size: contain;  
    background-position: center;
    display: flex;
    flex-direction: column;
    color: white; 
        p {
            display: flex; 
            justify-content: center;
        }
}

