// colour for hover
$hoverColor: #008000;
// colour for title screen and battle mode
$titleAndBattleColor: #ffffff;
// colour for character selection menu
$characterMenuColor: #000000;
// volume toggle
$volumeButton: #ff0000;
// button bg colour
$buttonBackground: #ffe134;
// font mix-in
@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-family: "Press Start 2P", cursive;
}

//BATTLE OF THE BABIES CHARACTER SELECTION MENU
audio {
  width: 8%;
  margin: 0 auto;
}

// icons for the music button
.volumeToggle {
  color: $volumeButton;
}

.iconPosition {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  font-size: 30px;
  left: 0;
  background: #000000bd;
  flex-direction: column;
  height: 20%;
  top: 15%;
  padding: 1%;
}
.creditsButtonTag {
  @include fontSize(20);
}

.creditsButtonTag:hover {
  background-color: rgba(255, 255, 255, 0);
}

.iconPosition i,
.iconPosition span,
.iconPosition .fas {
  display: flex;
  flex-direction: column;
}

a {
  color: $hoverColor;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: $titleAndBattleColor;
  padding: 2%;
}

a:focus {
  border: 5px solid $hoverColor;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

// flexes the characters in the menu section
.characters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

li {
  flex: 1 0 250px;
  position: relative;
  border: 3px solid $characterMenuColor;
  margin: 10px;
  padding: 10px;
}

.selection:hover,
.selection:focus,
.chosen:hover,
.chosen:focus,
.return:hover,
.return:focus,
.backToStart:hover,
.backToStart:focus {
  background-color: green;
}

.chosen,
.return {
  width: 100%;
}

h2 {
  text-align: center;
}
// flex container for character stats (applies the stats in a neat organized way)
.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// flexes the items in battle mode
.flexContainerBattle {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.characterStats {
  display: block;
  width: 550px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  background-color: $titleAndBattleColor;
  text-align: center;
  img {
    width: 70%;
    margin: 0 auto;
  }
  p {
    padding-top: 2%;
  }
}

section {
  height: 100vh;
}

li:hover,
button:focus {
  border: 5px solid $hoverColor;
}

button:hover,
button:focus {
  cursor: pointer;
}

li {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

//BATTLE OF THE BABIES FIGHT MODE

.hidden {
  display: none;
}

.appear {
  display: inline;
}

.btn {
  width: 500px;
}

.hellaKickLeft {
  transform: translate(200%, 0);
    -webkit-transform: translate(200%, 0); /** Safari & Chrome **/
    -o-transform: translate(200%, 0); /** Opera **/
    -moz-transform: translate(200%, 0); /** Firefox **/
  animation: KickLeft 1.4s;
}


@keyframes KickLeft {
  0% { transform: translate(0%, 0);}
  20% { transform: translate(10%, 0); }
  70% { transform: translate(-120%, 0) ; }
  80% { transform: translate(0%, 0); }
  100% { transform: translate(0%, 0); }
}

.hellaKickRight {
  transform: translate(200%, 0);
    -webkit-transform: translate(200%, 0); /** Safari & Chrome **/
    -o-transform: translate(200%, 0); /** Opera **/
    -moz-transform: translate(200%, 0); /** Firefox **/
  animation: KickRight 1.4s;
}


@keyframes KickRight {
  0% { transform: translate(0%, 0);}
  20% { transform: translate(-10%, 0); }
  70% { transform: translate(120%, 0) ; }
  80% { transform: translate(0%, 0); }
  100% { transform: translate(0%, 0); }
}

.bounceLeft {
  animation: bounceLeft 1.4s;
}


@keyframes bounceLeft {
  0% { transform: translate(0%, 0);}
  20% { transform: translate(50%, 0); transform: rotate(25deg);}
  70% { transform: translate(120%, 0); }
  80% { transform: translate(10%, 0); transform: rotate(-90deg); }
  100% { transform: translate(0%, 0); }
}

.bounceRight {
  animation: bounceRight 1.4s;
}

@keyframes bounceRight {
  0% { transform: translate(0%, 0);}
  20% { transform: translate(-50%, 0); transform: rotate(-25deg);}
  70% { transform: translate(-120%, 0); }
  80% { transform: translate(-10%, 0); transform: rotate(90deg);  }
  100% { transform: translate(0%, 0); }
}

.displayUser {
  width: 20%;
  position: absolute;
  bottom: 10%;
  left: 45px;
}

.shook{
  animation: shake 0.8s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.jump {
  animation: jump 0.5s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

@keyframes jump {
 0% {
   transform: translateY(0px);
 }
 20% {
   transform: translateY(5px);
 }
 40% {
   transform: translateY(10px);
 }
 50% {
   transform: translateY(20px);
 }
 60% {
   transform: translateY(40px);
 }
 70% {
   transform: translateY(20px);
 }
 80% {
   transform: translateY(10px);
 }
 90% {
   transform: translateY(5px);
 }
 100% {
   transform: translateY(0px);
 }
}


.displayCpu {
  width: 20%;
  position: absolute;
  right: 45px;
  bottom: 10%;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.coin {
  position: absolute;
  right: 0;
}

progress {
  width: 35%;
  padding: 5%;
  transition: all 1s ease-in-out;
}

.left {
  position: absolute;
  right: 0;
}

.fightResultsBox {
  width: 40%;
  background-color: $buttonBackground;
  color: $characterMenuColor;
  display: none;
  align-self: center;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
  img {
    width: 80%;
    margin: 0 auto;
  }
}

.losingBabyLeft {
  animation: dropLeft 1s;
}

@keyframes dropLeft {
 0% {
   transform: rotate(180deg);
   translate: -100px; 
 }
}

.losingBabyRight {
  animation: dropRight 1s;
}

@keyframes dropRight {
 0% {
   transform: rotate(-180deg);
 }
}

.hideBaby {
  display: none;
}

// added footer for credits
footer {
  text-align: center;
  padding: 2%;
  background-color: white;
}

.hideFooterButton {
  padding: 1%;
  color: $volumeButton;
}

.closeButton {
  position: absolute;
  left: 0;
  top: 0;
}

.footerHidden {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 2%;
  width: 100%;
  line-height: 40px;
}

.footerFlexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
