//BATTLE OF THE BABIES CHARACTER SELECTION MENU
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

img{
 width: 100%;
 display: block;
}

.characters{
  display: flex;
  flex-wrap: wrap;
  max-width: 900px;
  margin: 0 auto;
}

li{
  flex: 1 0 250px;
  position: relative;
  border: 3px solid black;
  margin: 10px;
  padding: 10px;

}

h2{
  text-align: center;
}


.characters p{
  position: absolute;
  bottom: 0;
  right:-10px;
  background: red;
  color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.characterStats {
    display: block; 
    width: 70%; 
    margin: 0 auto; 
    // padding: 10%; 
}

section {
    height: 100vh;
}

//BATTLE OF THE BABIES FIGHT MODE

.hidden {
    display: none; 
}

.appear {
    display: inline;
}

.btn {
   width: 500px;  
}

.displayUser {
  width: 200px; 
  position: absolute; 
  bottom: 10%;
  right: 65%;
}

.displayCpu {
  width: 200px; 
  position: absolute; 
  right: 20%;
  bottom: 12%;
}