// media queries go here 


@media (max-width: 830px) {

    h1 {
        font-size: 50px; 
    }

    h2 {
        font-size: 40px; 
    }

    .characterStats {
        width: 100%; 
    }


}

@media (max-width: 470px) {

        button {
            font-size: 15px; 
        }

    .characterStats img {
        width: 50%;
        padding-top: 20%;
    }

    .battleMode {
        max-width: 100%; 
    }
    

    @media (max-width: 360px){
        body {
            max-width: 100%; 
        }

        
    }

}

