// media queries go here 

// entering tablet sizes
@media (max-width: 830px) {

    h1 {
        font-size: 50px; 
    }

    h2 {
        font-size: 40px; 
    }

    .characterStats {
        width: 70%; 
    }


}
// entering smaller screens
@media (max-width: 470px) {

    button {
        font-size: 15px; 
    }

    .characterStats img {
        width: 100%;
        padding-top: 20%;
    }

    .battleMode {
        max-width: 100%; 
    }

    .volumeToggle {
        top: 40%; 
    }

    .fightResultsBox {
        position: absolute;
        top: 40%; 
        width: 50%; 
        padding: 5%; 
    }

    .fightResultsBox p {
        font-size: 80%; 
    }

    p blink {
        display: none; 
    }
    
// smallest screen
    @media (max-width: 360px){
        body {
            max-width: 100%; 
        }

        
    }

}

