// colour for hover
$hoverColor: #008000;  
// colour for title screen and battle mode 
$titleAndBattleColor: #ffffff; 
// colour for character selection menu 
$characterMenuColor: #000000; 
// button bg colour 
$buttonBackground: #ffe134;


// font-family: 'Press Start 2P', cursive;

@mixin fontSize($sizeValue) {
    font-size: $sizeValue * 1px;
    font-family: 'Press Start 2P', cursive;
}

//menu selection title
h1 {
    @include fontSize(70);
    text-align: center;
    color: $titleAndBattleColor;  
    margin: 5% 0 3% 0;
}

h2 {
    @include fontSize(60);
    text-align: center;
    // margin-top: 1%; 
    color: $characterMenuColor; 
}

h3 {
    @include fontSize(18); 
}

.startFight {
    color: $characterMenuColor;
    background-color: $buttonBackground; 
    position: absolute;
    padding: 1%; 
    bottom: 5%; 
    left: 40%; 
}

blink {
    -webkit-animation:blink 0.8s linear infinite;
    -moz-animation:blink 0.8s linear infinite;
    animation: blink 0.8s linear infinite; 
     @include fontSize(50);
     color: $titleAndBattleColor; 
}

blink:hover{
    color: $hoverColor; 
}

blink:focus {
    border: 2px dotted $titleAndBattleColor;  
}

button {
    background: none; 
    border: none; 
    @include fontSize(20);
}

p {
    @include fontSize(15);
}

@-webkit-keyframes blink {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@-moz-keyframes blink {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}

@keyframes blink {
    0%{opacity:1;}
    50%{opacity:0;}
    100%{opacity:1;}
}
