html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

audio {
  width: 8%;
  margin: 0 auto;
}

.volumeToggle {
  position: absolute;
  color: #ff0000;
  top: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  position: relative;
  border: 3px solid #000000;
  margin: 10px;
  padding: 10px;
}

h2 {
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexContainerBattle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.characterStats {
  display: block;
  width: 550px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  background-color: #ffffff;
  text-align: center;
}

.characterStats img {
  width: 80%;
  margin: 0 auto;
}

.characterStats p {
  padding-top: 2%;
}

section {
  height: 100vh;
}

li:hover,
button:focus {
  border: 5px solid #008000;
}

button:hover,
button:focus {
  cursor: pointer;
}

li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li img {
  padding-top: 10%;
  padding-bottom: 10%;
}

.hidden {
  display: none;
}

.appear {
  display: inline;
}

.btn {
  width: 500px;
}

.displayUser {
  width: 20%;
  position: absolute;
  bottom: 10%;
  right: 65%;
}

.displayCpu {
  width: 20%;
  position: absolute;
  right: 18%;
  bottom: 10%;
}

.coin {
  position: absolute;
  right: 0;
}

progress {
  width: 35%;
  padding: 5%;
}

.left {
  position: absolute;
  right: 0;
}

h1 {
  font-size: 70px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #ffffff;
  margin: 5% 0 3% 0;
}

h2 {
  font-size: 60px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  color: #000000;
}

h3 {
  font-size: 18px;
  font-family: 'Press Start 2P', cursive;
}

.startFight {
  color: #000000;
  background-color: #ffe134;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 60%;
  padding: 2%;
}

blink {
  -webkit-animation: blink 0.8s linear infinite;
  animation: blink 0.8s linear infinite;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #ffffff;
}

blink:hover {
  color: #008000;
}

blink:focus {
  border: 2px dotted #ffffff;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

p {
  font-size: 15px;
  font-family: 'Press Start 2P', cursive;
}

p blink {
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.battleMode {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.startTitleScreen {
  background-color: black;
  background-image: url(../assets/fire_start.gif);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.startTitleScreen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 830px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .characterStats {
    width: 100%;
  }
}

@media (max-width: 470px) {
  button {
    font-size: 15px;
  }
  .characterStats img {
    width: 50%;
    padding-top: 20%;
  }
  .battleMode {
    max-width: 100%;
  }
}

@media (max-width: 470px) and (max-width: 360px) {
  body {
    max-width: 100%;
  }
}
