html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  width: 80%;
}

audio {
  width: 8%;
  margin: 0 auto;
}

.volumeToggle {
  color: #ff0000;
}

.iconPosition {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 30px;
  left: 0;
  background: #000000bd;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20%;
  top: 15%;
  padding: 1%;
}

.creditsButtonTag {
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}

.creditsButtonTag:hover {
  background-color: rgba(255, 255, 255, 0);
}

.iconPosition i,
.iconPosition span,
.iconPosition .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a {
  color: #008000;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #ffffff;
  padding: 2%;
}

a:focus {
  border: 5px solid #008000;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.characters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}

li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 250px;
          flex: 1 0 250px;
  position: relative;
  border: 3px solid #000000;
  margin: 10px;
  padding: 10px;
}

.selection:hover,
.selection:focus,
.chosen:hover,
.chosen:focus,
.return:hover,
.return:focus,
.backToStart:hover,
.backToStart:focus {
  background-color: green;
}

.chosen,
.return {
  width: 100%;
}

h2 {
  text-align: center;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexContainerBattle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.characterStats {
  display: block;
  width: 550px;
  margin: 0 auto;
  position: absolute;
  top: 25%;
  background-color: #ffffff;
  text-align: center;
}

.characterStats img {
  width: 70%;
  margin: 0 auto;
}

.characterStats p {
  padding-top: 2%;
}

section {
  height: 100vh;
}

li:hover,
button:focus {
  border: 5px solid #008000;
}

button:hover,
button:focus {
  cursor: pointer;
}

li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li img {
  padding-top: 10%;
  padding-bottom: 10%;
}

.hidden {
  display: none;
}

.appear {
  display: inline;
}

.btn {
  width: 500px;
}

.playerOne,
.playerTwo {
  color: white;
  position: absolute;
  top: 15%;
}

.playerOne {
  left: 10%;
}

.playerTwo {
  right: 10%;
}

.hellaKickLeft {
  transform: translate(200%, 0);
  -webkit-transform: translate(200%, 0);
  /** Safari & Chrome **/
  -o-transform: translate(200%, 0);
  /** Opera **/
  -moz-transform: translate(200%, 0);
  /** Firefox **/
  -webkit-animation: KickLeft 1.4s;
          animation: KickLeft 1.4s;
}

@-webkit-keyframes KickLeft {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  70% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  80% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes KickLeft {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
  }
  70% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  80% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.hellaKickRight {
  transform: translate(200%, 0);
  -webkit-transform: translate(200%, 0);
  /** Safari & Chrome **/
  -o-transform: translate(200%, 0);
  /** Opera **/
  -moz-transform: translate(200%, 0);
  /** Firefox **/
  -webkit-animation: KickRight 1.4s;
          animation: KickRight 1.4s;
}

@-webkit-keyframes KickRight {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  70% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0);
  }
  80% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes KickRight {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
  }
  70% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0);
  }
  80% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.bounceLeft {
  -webkit-animation: bounceLeft 1.4s;
          animation: bounceLeft 1.4s;
}

@-webkit-keyframes bounceLeft {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  70% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0);
  }
  80% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes bounceLeft {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(50%, 0);
            transform: translate(50%, 0);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  70% {
    -webkit-transform: translate(120%, 0);
            transform: translate(120%, 0);
  }
  80% {
    -webkit-transform: translate(10%, 0);
            transform: translate(10%, 0);
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.bounceRight {
  -webkit-animation: bounceRight 1.4s;
          animation: bounceRight 1.4s;
}

@-webkit-keyframes bounceRight {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  70% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  80% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

@keyframes bounceRight {
  0% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
  20% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  70% {
    -webkit-transform: translate(-120%, 0);
            transform: translate(-120%, 0);
  }
  80% {
    -webkit-transform: translate(-10%, 0);
            transform: translate(-10%, 0);
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  100% {
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
  }
}

.displayUser {
  width: 20%;
  position: absolute;
  bottom: 10%;
  left: 45px;
}

.shook {
  -webkit-animation: shake 0.8s;
          animation: shake 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.jump {
  -webkit-animation: jump 0.5s;
          animation: jump 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: reverse;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  20% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  60% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  70% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  80% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  90% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.displayCpu {
  width: 20%;
  position: absolute;
  right: 45px;
  bottom: 10%;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.coin {
  position: absolute;
  right: 0;
}

progress {
  width: 35%;
  padding: 5%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.left {
  position: absolute;
  right: 0;
}

.fightResultsBox {
  width: 40%;
  background-color: #ffe134;
  color: #000000;
  display: none;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 2%;
  border-radius: 10px;
  text-align: center;
}

.fightResultsBox img {
  width: 80%;
  margin: 0 auto;
}

.losingBabyLeft {
  -webkit-animation: dropLeft 1s;
          animation: dropLeft 1s;
}

@-webkit-keyframes dropLeft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform: translate -100px;
            transform: translate -100px;
  }
}

@keyframes dropLeft {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transform: translate -100px;
            transform: translate -100px;
  }
}

.losingBabyRight {
  -webkit-animation: dropRight 1s;
          animation: dropRight 1s;
}

@-webkit-keyframes dropRight {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

@keyframes dropRight {
  0% {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}

.hideBaby {
  display: none;
}

footer {
  text-align: center;
  padding: 2%;
  background-color: white;
}

.hideFooterButton {
  padding: 1%;
  color: #ff0000;
}

.closeButton {
  position: absolute;
  left: 0;
  top: 0;
}

.footerHidden {
  display: none;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 2%;
  width: 100%;
  line-height: 40px;
}

.footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 {
  font-size: 70px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: #ffffff;
  margin: 5% 0 3% 0;
}

h2 {
  font-size: 60px;
  font-family: "Press Start 2P", cursive;
  text-align: center;
  color: #000000;
}

h3 {
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
}

.startFight {
  color: #000000;
  background-color: #ffe134;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  bottom: 60%;
  padding: 2%;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.startFight:hover {
  background-color: #00b900;
}

blink {
  -webkit-animation: blink 0.8s linear infinite;
  animation: blink 0.8s linear infinite;
  font-size: 50px;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
}

blink:hover {
  color: #008000;
}

blink:focus {
  border: 2px dotted #ffffff;
}

button {
  background: none;
  border: none;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  border: 1px dotted #000000;
  padding: 2%;
}

p {
  font-size: 15px;
  font-family: "Press Start 2P", cursive;
}

p blink {
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
}

.fightResultsBox p {
  font-size: 25px;
  font-family: "Press Start 2P", cursive;
  padding: 1% 0 1% 0;
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.battleMode {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.creditsFlexContainer {
  background-color: black;
  background-image: url(../assets/fire_start.gif);
  background-repeat: repeat-x;
  background-size: contain;
}

.startTitleScreen {
  background-color: black;
  background-image: url(../assets/fire_start.gif);
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.startTitleScreen p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.creditsFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 40px;
  font-family: "Press Start 2P", cursive;
  color: #ffffff;
}

.creditsFlexContainer ul {
  font-size: 30%;
}

.creditsFlexContainer ul li {
  border-style: none;
}

.creditsFlexContainer ul li:hover {
  color: #000000;
  background-color: #ffffff;
}

.creditsFlexContainer h1 {
  margin-top: 0;
}

@media (max-width: 830px) {
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 40px;
  }
  .characterStats {
    width: 70%;
  }
  .iconPosition {
    top: 20%;
  }
  .fightResultsBox p {
    font-size: 18px;
  }
}

@media (max-width: 470px) {
  button {
    font-size: 15px;
  }
  .characterStats img {
    width: 100%;
    padding-top: 20%;
  }
  .battleMode {
    max-width: 100%;
  }
  .creditsFlexContainer {
    max-width: 100%;
  }
  .creditsFlexContainer h1 {
    font-size: 50%;
  }
  .creditsFlexContainer li {
    font-size: 70%;
  }
  .creditsFlexContainer a {
    font-size: 50%;
    text-align: center;
  }
  .volumeToggle {
    top: 40%;
  }
  .hideFooterButton {
    bottom: 40%;
  }
  .fightResultsBox {
    position: absolute;
    top: 40%;
    width: 50%;
    padding: 5%;
  }
  .fightResultsBox p {
    font-size: 80%;
  }
  p blink {
    display: none;
  }
}

@media (max-width: 470px) and (max-width: 360px) {
  body {
    max-width: 100%;
  }
  .iconPosition {
    top: 40%;
  }
}

.babyCharacter:hover {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}
